.header {
  overflow: hidden;
  padding: 5px 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: White;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 34px;
  border-radius: 4px;
}

.header a:hover {
  background-color: WhiteSmoke;
  transition: 0.2s;
}

.header a img {
  height: 30px;
  width: 40px;
  min-height: 10px;
  float: left; 
  margin: auto;
  padding: 0 5px;
}

